/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
nav {
  display: flex;
  font-family: Roboto, Arial, sans-serif;
  color: #ffffff;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  background-color: #828282;
}
nav h4 {
  color: #ffffff;
  margin-top: 0.9%;
  margin-left: 5%;
  font-size: 24px;
}
.navList {
  display: flex;
  margin-right: 5%;
}
.navList li {
  display: flex;
  margin-top: 3%;
  padding: 5px;
}
.navList li a {
  color: #ffffff;
  font-size: 24px;
}
span {
  font-size: 30px;
  cursor: pointer;
  margin-top: 10px;
}
span:hover {
  color: lightblue;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #828282;
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
  color: lightblue;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 500px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.massContainer {
  margin: 0 auto;
}
.eyeCatch {
  display: flex;
  width: 100%;
  height: 500px;
  background-image: url(/img/home/home-jumbotron.png);
  margin-botttom: 10%;
  background-size: cover;
}
@media (max-width: 500px) {
  .eyeCatch {
    height: 400px;
  }
}
.eyeCatch p {
  display: flex;
  align-items: center;
  font-size: 56px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 5%;
  margin-top: 12%;
}
@media (max-width: 500px) {
  .eyeCatch p {
    margin-top: 15%;
  }
}
.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 12% 0 12%;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .block {
    flex-direction: column-reverse;
    width: 50%;
    margin-left: 8%;
    margin-top: 5%;
  }
}
.block-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
@media (max-width: 500px) {
  .block-2 {
    flex-direction: column;
  }
}
.block h4 {
  font-size: 24px;
  font-weight: bold;
}
.block p {
  font-size: 16px;
}
.block-msg-1 {
  width: 45%;
  padding-right: 30%;
}
@media (max-width: 500px) {
  .block-msg-1 {
    width: 175%;
  }
}
.block-msg-2 {
  width: 100%;
  margin-bottom: 10%;
  padding-left: 30%;
}
@media (max-width: 500px) {
  .block-msg-2 {
    width: 175%;
    padding-left: 0;
  }
}
.block-msg-1 p {
  margin-right: 2%;
}
@media (max-width: 500px) {
  .block-msg-1 p {
    width: 100%;
  }
}
.block button {
  padding: 2%;
  margin-top: 4%;
  width: 150px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
}
@media (max-width: 500px) {
  .block button {
    width: 100%;
  }
}
.block button:hover {
  background-color: lightblue;
  cursor: pointer;
}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-img {
  width: 33%;
}
@media (max-width: 500px) {
  .block-img {
    height: 500px;
  }
}
.block-img-2 {
  width: 33%;
}
@media (max-width: 500px) {
  .block-img-2 {
    height: 500px;
  }
}
@media (max-width: 500px) {
  .block img {
    height: 500px;
    width: 540%;
  }
}
.block-msg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-msg-1 {
  margin-top: 5%;
}
.block-msg-2 {
  margin-top: 5%;
  margin-left: 5%;
}
.sectionTwoImg {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 200px;
  margin: 0 25%;
}
.rP {
  font-weight: bold;
  margin: 0 12% 0 12%;
  margin-top: 5%;
  font-size: 24px;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .rP {
    align-self: center;
  }
}
.imgName {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .sectionTwoImg {
    width: 80%;
    margin-left: 50px;
  }
}
.pNames {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 12% 0 47%;
  margin-top: -2.5%;
  background-color: #d8d8d8;
  width: 295px;
  height: 90px;
}
@media (max-width: 500px) {
  .pNames {
    margin: -2.5% 12% 0 18%;
  }
}
.centerText {
  display: flex;
  margin: 5% 33%;
  font-size: 20px;
}
@media (max-width: 500px) {
  .centerText {
    width: 90%;
    margin-left: 30px;
  }
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15%;
  height: 300px;
  color: white;
  background-color: #828282;
}
@media (max-width: 500px) {
  footer {
    height: 550px;
    margin-top: 5%;
  }
}
.allFooter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6%;
}
@media (max-width: 500px) {
  .allFooter {
    flex-direction: column;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  footer ul {
    padding: 1%;
  }
}
footer li {
  margin: 5px 0;
  font-size: 12px;
}
.footHead {
  font-size: 20px;
  font-weight: bold;
}
.footerCity {
  padding: 0 2%;
}
input {
  height: 30px;
  color: gray;
}
.copyright {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -2%;
  color: #ffffff;
}
.massContainer {
  margin: 0 auto;
}
.servJumbo img {
  width: 100%;
  height: 300px;
}
.servHead {
  margin: 5% 12%;
  font-size: 24px;
  font-weight: bold;
}
.servText {
  display: flex;
  margin: 5% 12%;
  font-size: 16px;
}
.tabs .tabs-items {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  margin: 0 12%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item .tabs-item-description {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .tabs .tabs-item .tabs-item-description {
    flex-direction: column;
    margin-top: 5%;
  }
}
.tabs .tabs-item .tabs-item-description p {
  margin: 5% 5% 5% 0;
  font-size: 16px;
  height: 200px;
  word-wrap: break-word;
}
@media (max-width: 500px) {
  .tabs .tabs-item .tabs-item-description p {
    margin-top: 5%;
    margin-bottom: 15%;
  }
}
.tabs .tabs-item .servPic {
  margin-left: 5%;
  height: 200px;
  word-wrap: wrap;
}
@media (max-width: 500px) {
  .tabs .tabs-item .servPic {
    margin-bottom: 10%;
    height: 400px;
    width: 100%;
  }
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  margin: 0 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .tabs .tabs-links {
    display: flex;
    flex-direction: column;
  }
}
.tabs .tabs-links .tabs-link {
  padding: 0.5%;
  margin: 1%;
  width: 200px;
  height: 40px;
  font-size: 16px;
  background-color: #ffffff;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  cursor: pointer;
}
@media (max-width: 500px) {
  .tabs .tabs-links .tabs-link {
    width: 100%;
  }
}
.tabs .tabs-links .tabs-link:hover {
  background-color: lightblue;
  color: #ffffff;
  width: 205px;
  height: 45px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
}
@media (max-width: 500px) {
  .tabs .tabs-links .tabs-link:hover {
    width: 100%;
  }
}
.tabs .tabs-links .tabs-link-selected {
  z-index: 2;
  background-color: #2b95b8;
  color: #ffffff;
  width: 205px;
  height: 45px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
}
@media (max-width: 500px) {
  .tabs .tabs-links .tabs-link-selected {
    width: 100%;
  }
}
.picTextOne {
  font-size: 72px;
  color: white;
  margin-top: -7%;
}
@media (max-width: 500px) {
  .picTextOne {
    margin-top: -20%;
  }
}
.mainSectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .mainSectionContainer {
    flex-direction: column;
  }
}
.formSection {
  display: flex;
  flex-direction: column;
  margin: 0 12%;
  margin-top: 15%;
  width: 45%;
}
@media (max-width: 500px) {
  .formSection {
    width: 100%;
  }
}
.contactButton {
  margin-top: 5%;
  width: 33%;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .contactButton {
    width: 76%;
  }
}
.formSection h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3%;
}
.email {
  margin: 10% 0;
}
.emailGray {
  color: grey;
  margin-top: -4%;
}
.inputEmail {
  margin-bottom: 5%;
  width: 75%;
}
.inputBrief {
  height: 250px;
  width: 75%;
}
.contactSection {
  margin-top: 15%;
  margin-right: 10%;
  font-size: 24px;
}
@media (max-width: 500px) {
  .contactSection {
    display: flex;

    align-self: center;
    flex-direction: column;
    margin-right: 0;
    margin-left: -25%;
  }
}
.contactSection h2 {
  font-weight: bold;
  margin-bottom: 15%;
}
.contactCity {
  margin-top: 25%;
}
.contactCity li {
  font-size: 24px;
  height: 50px;
}
.contactHead {
  font-weight: bold;
  font-size: 24px;
}
.block-2 {
  margin-top: 5%;
}
@media (max-width: 500px) {
  .block-2 {
    margin-top: 20%;
  }
}
body {
  font-family: Roboto, Arial, sans-serif;
}
